<section class="bg-light py-5 text-center">
    <h3>Subscribe to Our Newsletter</h3>
    <p>Stay updated with our latest blog posts and design tips.</p>
    <form class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <input type="email" class="form-control" placeholder="Enter your email"><br />
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark">Subscribe</button>
            </div>
        </div>
    </form>
</section>