@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="blog-banner">
    <img src="https://5.imimg.com/data5/SELLER/Default/2023/3/JW/EN/UC/113948667/designer-sofa-set-500x500.jpg" alt="Interior Design">
    <div class="blog-title">
        <h2>2024 Interior Design Trends You Need to Know</h2>
        <p>By Sarah Johnson • 10 min read</p>
    </div>
</section>
<br />


<section class="blog-list">
    <div class="blog-card">
        <img src="https://cdn.sanity.io/images/fud515dx/production/24026e1fbb2f92b0d266fa701eed8d1387067cb6-5760x3240.jpg?q=80" alt="Small Space Solutions"><br /><br />
        <div class="blog-content">
            <span class="blog-type">Tips</span><br /><br />
            <h3 class="blog-head">Small Space Solutions: Maximizing Your Home</h3>
            <p>Discover clever ways to make the most of limited space with these expert tips.</p>
        </div>
    </div>

    <div class="blog-card">
        <img src="https://www.hindustantimes.com/ht-img/img/2023/08/26/550x309/spacejoy-YqFz7UMm8qE-unsplash_1693020511390_1693022466867.jpg" alt="Color Psychology"><br /><br />
        <div class="blog-content">
            <span class="blog-type">Color Guide</span><br /><br />
            <h3 class="blog-head">Color Psychology in Interior Design</h3>
            <p>Learn how different colors can affect mood and atmosphere in your space.</p>
        </div>
    </div>

    <div class="blog-card">
        <img src="https://5.imimg.com/data5/SELLER/Default/2023/3/JW/EN/UC/113948667/designer-sofa-set-500x500.jpg" alt="Scandinavian Design"><br /><br />
        <div class="blog-content">
            <span class="blog-type">Inspiration</span><br /><br />
            <h3 class="blog-head">Scandinavian Design Elements</h3>
            <p>Explore the key elements that make Scandinavian design so appealing.</p>
        </div>
    </div>
</section>