@{
    ViewData["Title"] = "Gallery";
}

<section class="gallery-header">
    <h1 class="text-center">Gallery</h1>
    <div class="gallery-banner">
        <img src="https://m.media-amazon.com/images/I/71zmJApCDQL._AC_UF894,1000_QL80_.jpg" alt="Gallery Image 1"/>
        <img src="https://5.imimg.com/data5/SELLER/Default/2023/3/296241570/ZG/WY/JB/1958091/wall-mirror-with-rope-500x500.jpg" alt="Gallery Image 2"/>
        <img src="https://m.media-amazon.com/images/I/81ZS43Wxc-L.jpg" alt="Gallery Image 3"/>
        <img src="https://m.media-amazon.com/images/I/61EyDZ5o3DL.jpg" alt="Gallery Image 4" />
        <img src="https://m.media-amazon.com/images/I/91Okba7sJSL._AC_UF350,350_QL80_.jpg" alt="Gallery Image 5" />
    </div>
</section>

<section class="gallery-grid">
    <div class="gallery-item">
        <img src="https://media.istockphoto.com/id/1198491164/photo/stylish-vintage-armchair-in-contemporary-living-room-interior-with-futon-settee-and-wooden.jpg?s=612x612&w=0&k=20&c=NYo2PokTfM3FLqnssWqha8LPMtJq5l9BTrXTIYg4vco=" alt="Image 1">
    </div>
    <div class="gallery-item"><img src="https://fiverr-res.cloudinary.com/image/upload/c_limit,f_auto,q_auto,t_smartwm,w_500/v1/attachments/delivery/asset/6d916e15e9db1644240777488c34307c-1687543329/CE393698-8D8E-4951-9AF3-0BDC6F630FB3.jpeg" alt="Image 2"></div>
    <div class="gallery-item"><img src="https://5.imimg.com/data5/SELLER/Default/2023/5/304617374/ZY/XF/YA/94955442/villas-interior-design-services-500x500.jpg" alt="Image 3"></div>
    <div class="gallery-item"><img src="https://cdn-jcjdf.nitrocdn.com/fbdGRZCYyAzJcRWwOyIxccfONaVTGtCT/assets/images/optimized/rev-68f449c/spazio.ae/wp-content/uploads/2023/02/OFFICE-VIEW-1-12-01-2020-_12_11zon-1024x708.jpg" alt="Image 4"></div>
    <div class="gallery-item"><img src="https://abdullahghabayen.com/wp-content/uploads/2023/07/Banner003.jpg " alt="Image 5"></div>
    <div class="gallery-item"><img src="https://5.imimg.com/data5/SELLER/Default/2022/10/AG/YW/MM/147959371/bedroom-interior-designing-service-500x500.jpeg" alt="Image 6"></div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const banner = document.querySelector(".gallery-banner");
        const images = [...document.querySelectorAll(".gallery-banner img")];

        images.forEach(img => {
            let clone = img.cloneNode(true);
            banner.appendChild(clone);
        });
    });
</script>
