@model Aesthetica.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
}

    <div class="register-container">
        <div class="left-section">
            <h1>Register</h1>
            <p>Create a new account to explore the world of interior design</p>
        </div>
        <div class="right-section">
        <form method="post" asp-action="Register" asp-controller="Home">
                <label asp-for="Name"></label>
                <input asp-for="Name" placeholder="Enter your full name" required>
                <span asp-validation-for="Name" class="text-danger"></span>
               
                <label asp-for="Email"></label>
                <input asp-for="Email" placeholder="Enter your email" required>
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password"></label>
                <input asp-for="Password" placeholder="Enter a password" required>
                <span asp-validation-for="Password" class="text-danger"></span>

                <label asp-for="Pass">Confirmed Password</label>
                <input asp-for="Pass" placeholder="Re-enter your password" required>
                <span asp-validation-for="Pass" class="text-danger"></span>

            @* <div class="form-group"> *@
            @*     <label asp-for="role" class="control-label"></label> *@
            @*     <select asp-for="role" class="form-control"> *@
            @*         <option value="">-- Select Role --</option> *@
            @*         <option value="Admin">Admin</option> *@
            @*         <option value="User">User</option> *@
            @*     </select> *@
            @* </div> *@

                <br /><br />
                    <a href="/Home/Login" class="btn-outline">Already have an account? Sign in</a> 
                    <button type="submit" class="btn-primary">Register</button>

            </form>

        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <p style="color: green;">@ViewBag.Message</p>
        }

        </div>
    </div>